.catalog-menu {
  .list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 552px;
}

.catalog-menu__item:nth-child(5) {
  flex-basis: 55%;
}

.catalog-menu__item:nth-child(6) {
  flex-basis: 100%;
  flex-grow: 1;
}

.catalog-menu__link {
  font-size: 15px;
  line-height: 36px;
  font-family: 'Open Sans';
  font-weight: 300;
  text-decoration: none;
  color: #000000;
}

.catalog-menu__link:hover,
.catalog-menu__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-menu__link:active {
  color: rgba(0, 0, 0, 0.3);
}
