.services {
  display: flex;
  margin-left: ~"calc(-50vw + 580px)";
  margin-right: ~"calc(-50vw + 580px)";
  padding-left: ~"calc(50vw - 580px)";
  padding-right: ~"calc(50vw - 580px)";

  background-color: @light-gray;
}

.services__controls {
  width: 285px;
}

.services__control {
  position: relative;
  z-index: 1;
  display: block;
  color: #000000;
}

.services__control_first:checked {
  color: #f7e184;
}

.services__control-text {
  position: relative;

  display: block;
  width: 160px;

  font-size: 18px;
  line-height: 1;
  font-family: 'Gilroy';
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  color: inherit;

  &::after {
    .pseudo(160px;8px);
    top: 25%;
    left: 0;
    z-index: -1;

    background-color: @orange;
    background-repeat: no-repeat;
  }
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  display: none;
}

.services__title {
  margin: 0;
  padding: 0;

  font-size: 47px;
  line-height: 1;
  font-family: 'Gilroy';
  font-weight: 800;
  color: #000000;
}

.services__text {
  width: 440px;
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 30px;
  font-family: 'Open Sans';
  font-weight: 300;
  color: #464646;
}

.services__radio_first:checked ~ .services__list .services__item_delivery {
  display: block;
}

.services__radio_second:checked ~ .services__list .services__item_warranty {
  display: block;
}

.services__radio_third:checked ~ .services__list .services__item_credit {
  display: block;
}
