.site-menu {
  display: flex;
  flex-wrap: wrap;

  &_cut {
    justify-content: space-between;
  }
}

.site-menu_full .site-menu__item {
  &_catalog {
    padding-bottom: 50px;
    margin-right: auto;
  }

  &_delivery {
    margin-left: auto;
    margin-right: 34px;
  }

  &_warranty {
    margin-right: 108px;
  }
}

.site-menu__item:last-child .site-menu__link {
  margin-right: -0.2em; //Чтобы убрать пробел справа от ссылки КОНТАКТЫ
}

.site-menu__link {
  display: block;


  font-size: 18px;
  line-height: 1.0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #000000;

  &_flexbox {
    display: flex;
   }

  &_color_white {
    color: #ffffff;
  }

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.site-menu__plus {
  display: block;
  width: 16px;
  height: 18px;
  margin-left: 12px;
  opacity: 0.3;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.site-menu__catalog-menu {
  visibility: hidden;
}

.site-menu__item_catalog:hover .site-menu__catalog-menu,
.site-menu__item_catalog:focus .site-menu__catalog-menu {
  visibility: visible;
}

