.slider {
  position: relative;

  background: none;
}

.slider__top-bar {
  position: relative;

  padding-top: 116px;
  flex-basis: 100%;
  flex-grow: 1;

  background-color: @yellow;

  &::after {
    .pseudo(100px;7px);
    top: 40px;
    left: 600px;
    z-index: 1;

    background-color: #ffffff;
  }
}

.slider__counter {
    width: auto;
    height: 131px;
    position: absolute;
    top: -10px;
    right: 50px;
    z-index: 2;

    font-size: 179px;
    line-height: 179px;
    font-family: 'Gilroy';
    font-weight: 800;
    color: #ffffff;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  display: flex;
  flex-wrap: wrap;
}

.slider__content {
  position: relative;
  bottom: 110px;
  z-index: 2;

  display: flex;
  padding-right: 60px;
}

.slider__image-wrapper {
  box-sizing: border-box;
  width: 560px;
  min-height: 500px;
  margin-right: 40px;

  background: none;
}

.slider__item_first {
  display: none;
}

.slider__item_second {
  display: none;
}

.slider__item_third {
  display: none;
}

.slider__item_first .slider__image-wrapper {
  padding-left: 88px;
}

.slider__item_second .slider__image-wrapper {
  padding-top: 10px;
  padding-left: 116px;
}

.slider__item_third .slider__image-wrapper {
  padding-top: 62px;
  padding-left: 30px;
}

.slider__description {
  display: flex;
  flex-direction: column;
  padding-top: 78px;
  padding-bottom: 22px;
}

.slider__title {
  width: 500px;
  margin: 0 0 20px 0;

  font-size: 47px;
  line-height: 56px;
  font-family: 'Gilroy';
  font-weight: 800;
}

.slider__text {
  width: 482px;
  margin: 0 0 42px 0;
  padding: 0;

  font-size: 15px;
  line-height: 2.0;
  font-family: 'Open Sans';
  font-weight: 300;
}

.slider__link-more {
  width: 220px;
}

.slider__table {
  margin-top: auto;
  border-collapse: collapse;
}

.slider__cell {

  &:nth-child(1) {
    width: 33%;
  }

  &:nth-child(2) {
    width: 26%;
  }

  &_data {
    padding-bottom: 12px;
    font-size: 36px;
    line-height: 1.2;
    font-family: 'Gilroy';
    font-weight: 300;
  }

  &_head {
    font-size: 13px;
    line-height: 20px;
    font-family: 'Open Sans';
    font-weight: 300;
  }
}

.slider__control-container {
  position: absolute;
  top: 330px;
  right: 100px;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  width: 80px;
}

.slider__control {
  position: relative;

  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;

  &::after {
    display: none;
    .pseudo(4px;4px);
      top: 3px;
      left: 3px;
      border: 1px solid #000000;
      border-radius: 50%;
  }
}

.slider__radio_first:checked ~ .slider__list > .slider__item_first {
  display: block;
}

.slider__radio_second:checked ~ .slider__list > .slider__item_second {
  display: block;
}

.slider__radio_third:checked ~ .slider__list > .slider__item_third {
  display: block;
}

.slider__radio_first:checked ~ .slider__control-container > .slider__control_first {
  &::after {
    display: block;
  }
}

.slider__radio_second:checked ~ .slider__control-container > .slider__control_second {
  &::after {
    display: block;
  }
}

.slider__radio_third:checked ~ .slider__control-container > .slider__control_third {
  &::after {
    display: block;
  }
}
