.user-menu {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;

  &_cut {
    justify-content: space-between;
  }
}

.user-menu_full .user-menu__item {
  &_search {
    margin-right: auto;
  }

  &_login {
    margin-right: 216px;
  }

  &_compare {
    margin-right: 40px;
  }
}

.user-menu__link {
  position: relative;
  display: block;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  text-decoration: none;
  color: #000000;

  &_login {
    padding-left: 26px;
  }

  &_compare {
    padding-left: 22px;
  }

  &_cart {
    padding-left: 26px;
  }

  &_color_white {
    color: #ffffff;
  }
}

.user-menu__icon {
  position: absolute;
  bottom: 12px; //Высота самой иконки - 12px
  left: 0;

  &_fill_orange {
    color: @orange;
  }

  &_fill_dark {
    color: #272525;
  }
}

.user-menu__link:hover {
  opacity: 0.6;
}

.user-menu__link:active {
  opacity: 0.3;
}
